* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #01d185;
}
a:focus {
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
input:focus {
  outline: 0;
}
table {
  width: 100%;
  border: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  min-width: 360px;
    line-height: 1;
}
.btn.full {
  width: 100%;
  max-width: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.flex-item {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.underline-links a {
  border-bottom: 1px solid #e6e6e6;
}
ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Roboto Light";
  font-weight: normal;
}
.tab-content {
  display: none;
  background: #f6f6f6;
  padding: 15px;
}
.tab-content.current {
  display: inherit;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
}
.btn {
  font-size: 16px;
  border: 1px solid #a1eacb;
  background: #FFFFFF;
  padding: 10px 20px;
}
button.btn-green {
  font-size: 15px;
  border: 1px solid #a1eacb;
  color: #FFFFFF;
  background: #01d185;
  padding: 12px 30px;
}
button.btn-green a {
  color: #FFFFFF;
}
.nowrap {
  white-space: nowrap;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}
header {
  font-family: 'Roboto Light', sans-serif;
}
header .menu-wrapper {
  padding-top: 20px;
    max-width:970px;
    margin:0 auto;
}
header .logo a {
  text-decoration: none;
  display: block;
  line-height: 42px;
}
header .logo a img {
  width: 42px;
  height: 42px;
  vertical-align:baseline;
}
header .logo a span {
  font-size: 18px;
  position: relative;
  top: -14px;
  left: 17px;
}
header .main-menu {
  margin: 15px 0 0 45px;
  padding: 0;
  list-style: none;
}
header .main-menu > li {
  float: left;
}
header .main-menu a {
  margin: 0 24px;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  line-height: 1;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
header .main-menu li:before {
  position: absolute;
  content: " ";
}
header .main-menu li:nth-child(2):before {
  background: url(../images/svg/toper_anonce.svg) no-repeat;
  width: 21px;
  height: 12px;
  display: block;
}
header .main-menu li:nth-child(2) a {
  margin-left: 30px;
}
header .main-menu li:nth-child(3):before {
  background: url(../images/svg/toper_news.svg) no-repeat;
  width: 14px;
  height: 14px;
}
header .main-menu li:nth-child(4):before {
  background: url(../images/svg/toper_photo.svg) no-repeat;
  width: 14px;
  height: 14px;
}
header .main-menu li:hover > a {
  color: #01d185;
}
header .main-menu .active > a {
  color: #01d185;
}
header .main-menu > li.mobile:hover > a {
  background: transparent;
}
header .main-menu > li.mobile-close {
  text-align: right;
  padding: 25px;
}
header .main-menu > li.mobile-close > a {
  display: inline-block;
  font-size: 14px;
  padding: 10px 45px 10px 0;
  position: relative;
  -webkit-transition: transform 0.15s ease;
  -o-transition: transform 0.15s ease;
  transition: transform 0.15s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
header .main-menu > li.mobile-close > a:before {
  content: '';
  width: 38px;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .main-menu > li.mobile-close > a:after {
  content: '';
  width: 38px;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .main-menu li.mobile-close > a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
header .login {
  font-size: 16px;
}
header .login:before {
  background: url(../images/svg/toper_user.svg) no-repeat;
  width: 14px;
  height: 14px;
  margin-top: 15px;
  margin-left: -25px;
  position: absolute;
  content: " ";
}
header .login a {
    line-height: 43px;
  border-bottom: 1px solid #e6e6e6;
}
header .place button {
  font-size: 15px;
  border: 1px solid #a1eacb;
  color: #FFFFFF;
  background: #01d185;
  padding: 12px 40px;
  margin-left: 30px;  

}
.hamburger {
    display: block;
    float: left;
}
.mobile-menu {
    padding:0 10px 10px 10px;
    margin:0 0 20px 0;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.mobile-menu .list-inline {
   display: inline-block;
    height:40px;
    line-height: 40px;
    margin-left:20px;
}
.mobile-menu .list-inline > li {
    padding: 0 10px 0 10px;
}
.mobile-bars {
  display: inline-block;
  font-size: 18px;
  color: #000000;
  float: none;
  background: url(../images/menu.png) no-repeat;

  height: 40px;
  background-size: 42px 40px;
    border:1px solid black;
    min-width: 42px;
  /*
    >span {
        display: none;
        float: right;
    }
    .bars {
        float: left;
        margin-right: 15px;
        span {
            display: block;
            width: 45px;
            height: 6px;
            background: @color_main_text;
            &+span {
                margin-top: 6px;
            }
        }
    }
    */
}

.mobile-bars .burger-title{
    line-height:40px;
    padding:0 10px 0 40px;;
}
.header-content {
  background: url(../images/header_bg.jpg) repeat-y top center;
  padding-bottom: 60px;
}
.header-content h2 {
  margin: 70px 0 30px;
  text-align: center;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: normal;
  font-family: 'Roboto Light', sans-serif;
}
.top-search-form .search-fields-wrapper input[type='text'] {
  display: block;
  width: 100%;
  border: 1px solid #a1eacb;
  padding: 11px 20px 11px;
  font-size: 18px;
  margin-bottom: 30px;
}
.top-search-form .search-fields-wrapper input[type='text'].input-place {
  padding-left: 140px;
}
.top-search-form .search-btn {
  height: 45px;
}
.top-search-form .catalogue-link a {
  display: block;
  width: 120px;
  margin-left: 30px;
  line-height: 40px;
  height: 45px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  border: 2px solid #FFFFFF;
}
.top-search-form .city-place {
  position: absolute;
  width: 121px;
  height: 24px;
  line-height: 24px;
  background: #01d185;
  color: #FFFFFF;
  margin: 11px 0 0 10px;
  padding-left: 3px;
}

.top-search-form .city-place span {
  padding-left: 4px;
}
.top-search-form .city-place img.geo {
  width: 13px;
  height: 13px;
  position: relative;
  top: 3px;
  left: 2px;
    vertical-align: baseline;   
}
.top-search-form .city-place img.btn_remove {
  width: 9px;
  height: 9px;
  position: relative;
  top: 0;
  left: 8px;
}
.top-search-form .service-name {
  margin-left: 30px;
  color: #FFFFFF;
  opacity: 0.7;
  font-size: 12px;
}
.top-search-form .options-2 {
  margin-top: 35px;
  padding-top: 10px;
}
.top-search-form .options-2 .service-option-inputs {
  display: flex;
}
.top-search-form .options-2 .service-name {
  position: relative;
  top: 12px;
}
.top-search-form .options-2 .service-name-inputs {
  width: 70px;
}
.top-search-form .options-2 .inputs {
  display: flex;
}
.top-search-form .options-2 .inputs input {
  width: 70px;
  height: 40px;
  padding: 4px 4px;
}
.top-search-form .options-2 .inputs input:first-child {
  margin-right: 10px;
}
.top-search-form .options-2 .inputs button {
  margin-left: 60px;
}
.top-search-form .options-2 select {
  height: 40px;
}
.top-search-form .line {
  border-bottom: 2px solid #72deaf;
  height: 2px;
  margin: 0 0 45px 15px;
}
.home-products-categories-list {
  padding: 40px 0 0;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}
.home-products-categories-list .list-inline > li {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
.home-products-categories-list .product-category {
  margin-top: 40px;
}
.home-products-categories-list .product-category .category-image {
  float: left;
  width: 40px;
}
.home-products-categories-list .product-category .products-list {
  margin-left: 60px;
  line-height: 1.3;
}
.home-products-categories-list .product-category .products-list .name {
  padding-left: 5px;
  font-size: 18px;
  margin-bottom: 15px;
}
.home-products-categories-list .product-category .products-list .name a {
  border-bottom: 1px solid #e6e6e6;
}
.home-products-categories-list .product-category .products-list ul li:after {
  content: ",";
  color: #01d185;
}
.home-products-categories-list .product-category .products-list ul li:last-child:after {
  content: "";
}
.home-products-categories-list .product-category .products-list ul a {
  color: #01d185;
  border-bottom: 1px solid #01d185;
}
.home-products-categories-list .product-category .products-list ul a:hover {
  color: #0fc8d1;
  border-bottom: 1px solid #0fc8d1;
}
.home-advertision {
  padding: 40px 0 40px;
  background: #f6f6f6;
}
.home-advertision .block-headers {
  display: flex;
  align-items: end;
}
.home-advertision .block-headers .block-header h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Roboto Light', sans-serif;
}
.home-advertision .block-headers .block-link-all {
  padding-right: 20px;
}
.home-advertision .advertision-list {
  margin-top: 40px;
}
.home-advertision .advertision-list .col-md-4 {
  padding-right: 0;
}
.home-advertision .advertision-list .advertision-item {
  display: flex;
  border: 5px solid transparent;
}
.home-advertision .advertision-list .advertision-item .image {
  width: 125px;
  height: 125px;
}
.home-advertision .advertision-list .advertision-item .text {
  background: #FFFFFF;
}
.home-advertision .advertision-list .advertision-item .text .description {
  margin: 15px 30px 0 30px;
  font-size: 18px;
  line-height: 1.3;
}
.home-advertision .advertision-list .advertision-item .text .description a {
  border-bottom: 1px solid #e6e6e6;
}
.home-advertision .advertision-list .advertision-item .text .date {
  margin: 10px 30px 5px 30px;
  padding-top: 10px;
  border-top: 1px solid #fbfbfb;
  font-size: 11px;
}
.home-info {
  padding-top: 50px;
}
.home-info .news-info .block-headers {
  display: flex;
  align-items: end;
}
.home-info .news-info .block-headers .block-header h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Roboto Light', sans-serif;
}
.home-info .news-info .block-headers .block-header h4 a {
  border-bottom: 1px solid #e6e6e6;
}
.home-info .news-info .news-list {
  margin-top: 30px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 1.3;
}
.home-info .news-info .news-list .news-item {
  margin-bottom: 40px;
  display: block;
  padding: 30px 15px 30px 15px;
}
.home-info .news-info .news-list .news-item .news-date {
  font-size: 13px;
}
.home-info .news-info .news-list .news-item .news-description {
  margin-top: 10px;
  font-size: 17px;
  padding-right: 40px;
}
.home-info .news-info .news-list .news-item .news-description span {
  border-bottom: 1px solid #e6e6e6;
}
.home-info .news-info .news-list .news-item .more {
  margin-top: 20px;
  font-size: 15px;
}
.home-info .news-info .news-list .news-item .more span {
  border-bottom: 1px solid #e6e6e6;
}
.home-info .wiki-info .block-headers {
  display: flex;
  align-items: end;
}
.home-info .wiki-info .block-headers .block-header h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Roboto Light', sans-serif;
}
.home-info .wiki-info .block-headers .block-header h4 a {
  border-bottom: 1px solid #e6e6e6;
}
.home-info .wiki-info .wiki-list {
  margin-top: 40px;
}
.home-info .wiki-info .wiki-list .wiki-item {
  margin-bottom: 30px;
}
.home-info .wiki-info .wiki-list .wiki-item .wiki-image {
  float: left;
  width: 61px;
}
.home-info .wiki-info .wiki-list .wiki-item .wiki-text {
  margin-left: 80px;
}
.home-info .wiki-info .wiki-list .wiki-item .wiki-text a {
  border-bottom: 1px solid #000000;
}
.home-info .wiki-info .wiki-list .wiki-item .wiki-text .name {
  font-size: 18px;
  margin-bottom: 20px;
}
.home-info .wiki-info .wiki-list .wiki-item .wiki-text .name a {
  border-bottom: 1px solid #e6e6e6;
}
.home-info .wiki-info .wiki-list .wiki-item .wiki-text .description {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.3;
}
.block-link-all a span {
  border-bottom: 1px solid #e6e6e6;
}
footer {
  margin-top: 100px;
  padding-bottom: 45px;
  font-size: 15px;
}
footer .footer-logo {
  position: relative;
  top: -15px;
  width: 42px;
  height: 42px;
}
footer .copyright-text-socials {
  margin-top: 20px;
}
footer .copyright-text-socials .copyright-text {
  float: left;
  width: 200px;
}
footer .copyright-text-socials .socials {
  margin-left: 250px;
  position: relative;
  top: -5px;
}
footer .copyright-text-socials .socials li {
  padding-right: 12px;
}
footer .copyright-text-socials .socials li img {
  width: 29px;
  height: 29px;
}
footer .up-arrow {
  background: #ededed;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
}
footer .up-arrow img {
  width: 6px;
  height: 11px;
  position: absolute;
  top: 11px;
  left: 14px;
}
footer .row {
    display:block;
}
.checkbox {
  float: left;
  width: 20px;
}
.checkbox input[type='radio'],
.checkbox input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
}
.checkbox input[type='radio']:checked ~ label:before {
  background: #203a9a none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.checkbox input[type='checkbox']:checked ~ label:before {
  background: #203a9a none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.checkbox input[type='radio'] ~ label {
  border-radius: 100%;
}
.checkbox label {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #01d185;
  background: #FFFFFF;
  position: relative;
  top: -4px;
}
.checkbox label:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.checkbox input[type='radio']:checked ~ label:before {
  background: url("../images/radio-checked.png") no-repeat center / cover;
}
.checkbox input[type='checkbox']:checked ~ label:before {
  background: url("../images/chbox-checked.jpg") no-repeat center / cover;
}
.messagepop {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  cursor: default;
  display: none;
  margin-top: 15px;
  position: absolute;
  text-align: left;
  width: 800px;
  height: 600px;
  left: 50%;
  margin-left: -400px;
  z-index: 50;
  padding: 25px 25px 20px;
}
.messagepop p,
.messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
.catalogue-categories-list {
  list-style: none;
}
.catalogue-categories-list li {
  float: left;
  width: 50%;
  height: 70px;
}
.catalogue-categories-list .category-image {
  float: left;
  width: 40px;
}
.catalogue-categories-list .name {
  margin-left: 60px;
}
.catalogue-categories-list .name a {
  font-size: 15px;
  line-height: 40px;
}
/*# sourceMappingURL=common.css.map */